@tailwind base;
@tailwind components;
@tailwind utilities;


.navl{
  cursor: pointer;
  border: none;
  border-bottom: 3px solid transparent

}
.navl:hover,.navll{
  border-bottom: 3px solid #67403e
}
#traveler{
  background-image: url("/public/images/traveler.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px
}
.char-cont{
  width: 90%;
}
.search-cont{
  width: 300px;
  height:80%;
  margin-left: 5%;
}
*::-webkit-scrollbar{
  width: 0;
}
 @import url('https://fonts.cdnfonts.com/css/playlist');
 @import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


